
<div>
	<p>/@Q1A/</p>
	<p>
		1313<sub>5</sub>
	</p>
	<p>/@Q1B/</p>
	<p>
		2131<sub>5</sub>
	</p>
	<p>/@Q1C/</p>
	<p>
		4302<sub>5</sub>
	</p>
	<p>/@Q1D/</p>
	<p>
		1103<sub>5</sub>
	</p>
	<p>/@Q2A/</p>
	<p>3.14160</p>
	<p>/@Q2B/</p>
	<p>3.14159</p>
	<p>/@Q2C/</p>
	<p>0.31415</p>
	<p>/@Q2D/</p>
	<p>3.14200</p>
	<p>/@Q3A/</p>
	<p>12.00%</p>
	<p>/@Q3B/</p>
	<p>11.00%</p>
	<p>/@Q3C/</p>
	<p>10.71%</p>
	<p>/@Q3D/</p>
	<p>0.12%</p>
	<p>/@Q4A/</p>
	<p>₦28,800</p>
	<p>/@Q4B/</p>
	<p>₦29,040</p>
	<p>/@Q4C/</p>
	<p>₦31,200</p>
	<p>/@Q4D/</p>
	<p>₦31,944</p>
	<p>/@Q5A/</p>
	<p>
		1.54 x 10<sup>-2</sup>
	</p>
	<p>/@Q5B/</p>
	<p>
		1.54 x 10<sup>-3</sup>
	</p>
	<p>/@Q5C/</p>
	<p>
		1.54 x 10<sup>-4</sup>
	</p>
	<p>/@Q5D/</p>
	<p>
		1.54 x 10<sup>-5</sup>
	</p>
	<p>/@Q6A/</p>
	<p>27</p>
	<p>/@Q6B/</p>
	<p>1</p>
	<p>/@Q6C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image001.gif"
			alt="image001.gif" />
	</p>
	<p>/@Q6D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image002.gif"
			alt="image002.gif" />
	</p>
	<p>/@Q7A/</p>
	<p>0.065</p>
	<p>/@Q7B/</p>
	<p>0.650</p>
	<p>/@Q7C/</p>
	<p>6.500</p>
	<p>/@Q7D/</p>
	<p>65.000</p>
	<p>/@Q8A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image001.gif"
			alt="image001.gif" />
	</p>
	<p>/@Q8B/</p>
	<p>0</p>
	<p>/@Q8C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image003.gif"
			alt="image003.gif" />
	</p>
	<p>/@Q8D/</p>
	<p>1</p>
	<p>/@Q9A/</p>
	<p>25</p>
	<p>/@Q9B/</p>
	<p>21</p>
	<p>/@Q9C/</p>
	<p>16</p>
	<p>/@Q9D/</p>
	<p>3</p>
	<p>/@Q10A/</p>
	<p>0</p>
	<p>/@Q10B/</p>
	<p>{0}</p>
	<p>/@Q10C/</p>
	<p>Ø</p>
	<p>/@Q10D/</p>
	<p>{Ø}</p>
	<p>/@Q11A/</p>
	<p>-6, -1</p>
	<p>/@Q11B/</p>
	<p>6, 1</p>
	<p>/@Q11C/</p>
	<p>1, -1</p>
	<p>/@Q11D/</p>
	<p>6, -6</p>
	<p>/@Q12A/</p>
	<p>1</p>
	<p>/@Q12B/</p>
	<p>2</p>
	<p>/@Q12C/</p>
	<p>3</p>
	<p>/@Q12D/</p>
	<p>4</p>
	<p>/@Q13A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image004.gif"
			alt="image004.gif" />
	</p>
	<p>/@Q13B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image005.gif"
			alt="image005.gif" />
	</p>
	<p>/@Q13C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image006.gif"
			alt="image006.gif" />
	</p>
	<p>/@Q13D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image007.gif"
			alt="image007.gif" />
	</p>
	<p>/@Q14A/</p>
	<p>(-6, 0) (-1, 0)</p>
	<p>/@Q14B/</p>
	<p>(-3, 0), (-2, 0)</p>
	<p>/@Q14C/</p>
	<p>(-6, 0), (1, 0)</p>
	<p>/@Q14D/</p>
	<p>(2, 0), (3, 0)</p>
	<p>/@Q15A/</p>
	<p>(ax -2y)(bx 3)</p>
	<p>/@Q15B/</p>
	<p>(bx + 3)(2y ax)</p>
	<p>/@Q15C/</p>
	<p>(bx + 3)(ax 2y)</p>
	<p>/@Q15D/</p>
	<p>(ax 2y)(ax b)</p>
	<p>/@Q16A/</p>
	<p>
		3 <img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> x <img
			src="Mathematics_1995_Option_files/image008.gif" alt="image008.gif" /> 4
	</p>
	<p>/@Q16B/</p>
	<p>3 &lt; x &lt; 4</p>
	<p>/@Q16C/</p>
	<p>
		3 <img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> x &lt; 4
	</p>
	<p>/@Q16D/</p>
	<p>
		3 &lt; x <img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> 4
	</p>
	<p>/@Q17A/</p>
	<p>175</p>
	<p>/@Q17B/</p>
	<p>
		85<br /> /@Q17C/
	</p>
	<p>
		64<br /> /@Q17D/
	</p>
	<p>45</p>
	<p>/@Q18A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image009.gif"
			alt="image009.gif" />
	</p>
	<p>/@Q18B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image010.gif"
			alt="image010.gif" />
	</p>
	<p>/@Q18C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image011.gif"
			alt="image011.gif" />
	</p>
	<p>/@Q18D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image012.gif"
			alt="image012.gif" />
	</p>
	<p>/@Q19A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image013.gif"
			alt="image013.gif" />
	</p>
	<p>/@Q19B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image014.gif"
			alt="image014.gif" />
	</p>
	<p>/@Q19C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image015.gif"
			alt="image015.gif" />
	</p>
	<p>/@Q19D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image016.gif"
			alt="image016.gif" />
	</p>
	<p>/@Q20A/</p>
	<p>
		-1 <img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> x <img
			src="Mathematics_1995_Option_files/image008.gif" alt="image008.gif" /> 1,
		x<img src="Mathematics_1995_Option_files/image017.gif"
			alt="image017.gif" /> 2
	</p>
	<p>/@Q20B/</p>
	<p>
		x <img src="Mathematics_1995_Option_files/image018.gif"
			alt="image018.gif" /> -1, 1 <img
			src="Mathematics_1995_Option_files/image008.gif" alt="image008.gif" /> x
		<img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> 2
	</p>
	<p>/@Q20C/</p>
	<p>
		x <img src="Mathematics_1995_Option_files/image019.gif"
			alt="image019.gif" />1, 1 <img
			src="Mathematics_1995_Option_files/image008.gif" alt="image008.gif" /> x
		<img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> 2
	</p>
	<p>/@Q20D/</p>
	<p>
		x <img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> 2, -1 <img
			src="Mathematics_1995_Option_files/image019.gif" alt="image019.gif" />x
		<img src="Mathematics_1995_Option_files/image008.gif"
			alt="image008.gif" /> 1
	</p>
	<p>/@Q21A/</p>
	<p>a*b = a + 2b</p>
	<p>/@Q21B/</p>
	<p>a*b = a + b - ab</p>
	<p>/@Q21C/</p>
	<p>
		a*b = a<sup>2</sup> + b
	</p>
	<p>/@Q21D/</p>
	<p>
		a*b = <img src="Mathematics_1995_Option_files/image020.gif"
			alt="image020.gif" />
	</p>
	<p>/@Q22A/</p>
	<p>12</p>
	<p>/@Q22B/</p>
	<p>9</p>
	<p>/@Q22C/</p>
	<p>6</p>
	<p>/@Q22D/</p>
	<p>2</p>
	<p>/@Q23A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image021.gif"
			alt="image021.gif" />
	</p>
	<p>/@Q23B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image022.gif"
			alt="image022.gif" />
	</p>
	<p>/@Q23C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image023.gif"
			alt="image023.gif" />
	</p>
	<p>/@Q23D/</p>
	<p>10</p>
	<p>/@Q24A/</p>
	<p>1</p>
	<p>/@Q24B/</p>
	<p>2</p>
	<p>/@Q24C/</p>
	<p>3</p>
	<p>/@Q24D/</p>
	<p>4</p>
	<p>/@Q25A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image024.gif"
			alt="image024.gif" />
	</p>
	<p>/@Q25B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image025.gif"
			alt="image025.gif" />
	</p>
	<p>/@Q25C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image026.gif"
			alt="image026.gif" />
	</p>
	<p>/@Q25D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image027.gif"
			alt="image027.gif" />
	</p>
	<p>/@Q26A/</p>
	<p>134˚</p>
	<p>/@Q26B/</p>
	<p>81˚</p>
	<p>/@Q26C/</p>
	<p>53˚</p>
	<p>/@Q26D/</p>
	<p>46˚</p>
	<p>/@Q27A/</p>
	<p>50˚</p>
	<p>/@Q27B/</p>
	<p>65˚</p>
	<p>/@Q27C/</p>
	<p>85˚</p>
	<p>/@Q27D/</p>
	<p>130˚</p>
	<p>/@Q28A/</p>
	<p>12˚</p>
	<p>/@Q28B/</p>
	<p>56˚</p>
	<p>/@Q28C/</p>
	<p>68˚</p>
	<p>/@Q28D/</p>
	<p>78˚</p>
	<p>/@Q29A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image028.gif"
			alt="image028.gif" />km
	</p>
	<p>/@Q29B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image029.gif"
			alt="image029.gif" />km
	</p>
	<p>/@Q29C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image030.gif"
			alt="image030.gif" />km
	</p>
	<p>/@Q29D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image031.gif"
			alt="image031.gif" />km
	</p>
	<p>/@Q30A/</p>
	<p>x 2y + 1 = -9</p>
	<p>/@Q30B/</p>
	<p>2x + y 3 = 0</p>
	<p>/@Q30C/</p>
	<p>x 2y 3 = 0</p>
	<p>/@Q30D/</p>
	<p>2x + y 1 = 0</p>
	<p>/@Q31A/</p>
	<p>100˚</p>
	<p>/@Q31B/</p>
	<p>80˚</p>
	<p>/@Q31C/</p>
	<p>50˚</p>
	<p>/@Q31D/</p>
	<p>40˚</p>
	<p>/@Q32A/</p>
	<p>37˚</p>
	<p>/@Q32B/</p>
	<p>63˚</p>
	<p>/@Q32C/</p>
	<p>117˚</p>
	<p>/@Q32D/</p>
	<p>153˚</p>
	<p>/@Q33A/</p>
	<p>
		836 cm<sup>2</sup>
	</p>
	<p>/@Q33B/</p>
	<p>
		528 cm<sup>2</sup>
	</p>
	<p>/@Q33C/</p>
	<p>
		308 cm<sup>2</sup>
	</p>
	<p>/@Q33D/</p>
	<p>
		154 cm<sup>2</sup>
	</p>
	<p>/@Q34A/</p>
	<p>7 cm</p>
	<p>/@Q34B/</p>
	<p>10 cm</p>
	<p>/@Q34C/</p>
	<p>14 cm</p>
	<p>/@Q34D/</p>
	<p>17 cm</p>
	<p>/@Q35A/</p>
	<p>60 m</p>
	<p>/@Q35B/</p>
	<p>30√3 m</p>
	<p>/@Q35C/</p>
	<p>20√3 m</p>
	<p>/@Q35D/</p>
	<p>10√3 m</p>
	<p>/@Q36A/</p>
	<p>18√2 m</p>
	<p>/@Q36B/</p>
	<p>12√2 m</p>
	<p>/@Q36C/</p>
	<p>6√2 m</p>
	<p>/@Q36D/</p>
	<p>3√2 m</p>
	<p>/@Q37A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image032.jpg"
			alt="image032.jpg" />
	</p>
	<p>/@Q37B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image033.jpg"
			alt="image033.jpg" />
	</p>
	<p>/@Q37C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image034.jpg"
			alt="image034.jpg" />
	</p>
	<p>/@Q37D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image035.jpg"
			alt="image035.jpg" />
	</p>
	<p>/@Q38A/</p>
	<p>Tan x cosec x</p>
	<p>/@Q38B/</p>
	<p>-cot x cosec x</p>
	<p>/@Q38C/</p>
	<p>Tan x sec x</p>
	<p>/@Q38D/</p>
	<p>-cot x sec x</p>
	<p>/@Q39A/</p>
	<p>3</p>
	<p>/@Q39B/</p>
	<p>2</p>
	<p>/@Q39C/</p>
	<p>1</p>
	<p>/@Q39D/</p>
	<p>0</p>
	<p>/@Q40A/</p>
	<p>
		2x<sup>2</sup> 3x + 5
	</p>
	<p>/@Q40B/</p>
	<p>
		2x<sup>2</sup> 3x + 3
	</p>
	<p>/@Q40C/</p>
	<p>
		2x<sup>2</sup> 3x
	</p>
	<p>/@Q40D/</p>
	<p>4</p>
	<p>/@Q41A/</p>
	<p>24</p>
	<p>/@Q41B/</p>
	<p>22</p>
	<p>/@Q41C/</p>
	<p>21</p>
	<p>/@Q41D/</p>
	<p>20</p>
	<p>/@Q42A/</p>
	<p>27˚</p>
	<p>/@Q42B/</p>
	<p>30˚</p>
	<p>/@Q42C/</p>
	<p>54˚</p>
	<p>/@Q42D/</p>
	<p>108˚</p>
	<p>/@Q43A/</p>
	<p>25</p>
	<p>/@Q43B/</p>
	<p>15</p>
	<p>/@Q43C/</p>
	<p>10</p>
	<p>/@Q43D/</p>
	<p>8</p>
	<p>/@Q44A/</p>
	<p>1.11</p>
	<p>/@Q44B/</p>
	<p>1.65</p>
	<p>/@Q44C/</p>
	<p>1.85</p>
	<p>/@Q44D/</p>
	<p>2.45</p>
	<p>/@Q45A/</p>
	<p>5</p>
	<p>/@Q45B/</p>
	<p>√6</p>
	<p>/@Q45C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image036.gif"
			alt="image036.gif" />
	</p>
	<p>/@Q45D/</p>
	<p>√5</p>
	<p>/@Q46A/</p>
	<p>1.2</p>
	<p>/@Q46B/</p>
	<p>1.4</p>
	<p>/@Q46C/</p>
	<p>2.0</p>
	<p>/@Q46D/</p>
	<p>3.0</p>
	<p>/@Q47A/</p>
	<p>3.2</p>
	<p>/@Q47B/</p>
	<p>3.4</p>
	<p>/@Q47C/</p>
	<p>3.7</p>
	<p>/@Q47D/</p>
	<p>4.2</p>
	<p>/@Q48A/</p>
	<p>4.0</p>
	<p>/@Q48B/</p>
	<p>3.5</p>
	<p>/@Q48C/</p>
	<p>3.2</p>
	<p>/@Q48D/</p>
	<p>3.0</p>
	<p>/@Q49A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image037.gif"
			alt="image037.gif" />
	</p>
	<p>/@Q49B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image038.gif"
			alt="image038.gif" />
	</p>
	<p>/@Q49C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image001.gif"
			alt="image001.gif" />
	</p>
	<p>/@Q49D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image039.gif"
			alt="image039.gif" />
	</p>
	<p>/@Q50A/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image038.gif"
			alt="image038.gif" />
	</p>
	<p>/@Q50B/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image040.gif"
			alt="image040.gif" />
	</p>
	<p>/@Q50C/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image041.gif"
			alt="image041.gif" />
	</p>
	<p>/@Q50D/</p>
	<p>
		<img src="Mathematics_1995_Option_files/image042.gif"
			alt="image042.gif" />
	</p>
	<p>/@Q51A/</p>
</div>
