
<div>
	<p>/@Q1A/</p>
	<p>
		ML<sup>-1</sup>T<sup>-2</sup>
	</p>
	<p>/@Q1B/</p>
	<p>
		MLT<sup>-2</sup>
	</p>
	<p>/@Q1C/</p>
	<p>
		ML<sup>2</sup>T<sup>-3</sup>
	</p>
	<p>/@Q1D/</p>
	<p>
		ML<sup>-3</sup>
	</p>
	<p>/@Q2A/</p>
	<p>0.25 m</p>
	<p>/@Q2B/</p>
	<p>0.45 m</p>
	<p>/@Q2C/</p>
	<p>0.58 m</p>
	<p>/@Q2D/</p>
	<p>1.00 m</p>
	<p>/@Q3A/</p>
	<p>P = Q + R</p>
	<p>~   ~   ~</p>
	<p>/@Q3B/</p>
	<p>P = Q R</p>
	<p>~   ~  ~</p>
	<p>/@Q3C/</p>
	<p>P = R Q</p>
	<p>~   ~  ~</p>
	<p>/@Q3D/</p>
	<p>P + Q + R = O</p>
	<p>~   ~   ~</p>
	<p>/@Q4A/</p>
	<p>10.0N</p>
	<p>/@Q4B/</p>
	<p>11.8N</p>
	<p>/@Q4C/</p>
	<p>20.0N</p>
	<p>/@Q4D/</p>
	<p>40.0N</p>
	<p>/@Q5A/</p>
	<p>Translational</p>
	<p>/@Q5B/</p>
	<p>Oscillatory</p>
	<p>/@Q5C/</p>
	<p>Random</p>
	<p>/@Q5D/</p>
	<p>Rotational</p>
	<p>/@Q6A/</p>
	<p>
		<img src="Physics_1995_Option_files/image001.gif" alt="image001.gif" />
	</p>
	<p>/@Q6B/</p>
	<p>
		<img src="Physics_1995_Option_files/image002.gif" alt="image002.gif" />
	</p>
	<p>/@Q6C/</p>
	<p>
		<img src="Physics_1995_Option_files/image003.gif" alt="image003.gif" />
	</p>
	<p>/@Q6D/</p>
	<p>
		<img src="Physics_1995_Option_files/image004.gif" alt="image004.gif" />
	</p>
	<p>/@Q7A/</p>
	<p>
		2 ms<sup>-2</sup>
	</p>
	<p>/@Q7B/</p>
	<p>
		4 ms<sup>-2</sup>
	</p>
	<p>/@Q7C/</p>
	<p>
		6 ms<sup>-2</sup>
	</p>
	<p>/@Q7D/</p>
	<p>
		8 ms<sup>-2</sup>
	</p>
	<p>/@Q8A/</p>
	<p>
		0.10 ms<sup>-2</sup>
	</p>
	<p>/@Q8B/</p>
	<p>
		0.74 ms<sup>-2</sup>
	</p>
	<p>/@Q8C/</p>
	<p>
		1.67 ms<sup>-2</sup>
	</p>
	<p>/@Q8D/</p>
	<p>
		10.00 ms<sup>-2</sup>
	</p>
	<p>/@Q9A/</p>
	<p>
		14 km s<sup>-1</sup>
	</p>
	<p>/@Q9B/</p>
	<p>
		13 km s<sup>-1</sup>
	</p>
	<p>/@Q9C/</p>
	<p>
		12 km s<sup>-1</sup>
	</p>
	<p>/@Q9D/</p>
	<p>
		11 km s<sup>-1</sup>
	</p>
	<p>/@Q10A/</p>
	<p>68 N</p>
	<p>/@Q10B/</p>
	<p>28 N</p>
	<p>/@Q10C/</p>
	<p>17 N</p>
	<p>/@Q10D/</p>
	<p>7 N</p>
	<p>/@Q11A/</p>
	<p>
		<u>mv<sup>2</sup></u>
	</p>
	<p> P</p>
	<p>/@Q11B/</p>
	<p>
		<u>mv<sup>2</sup></u>
	</p>
	<p>2P</p>
	<p>/@Q11C/</p>
	<p>
		<u>mv</u>
	</p>
	<p> P</p>
	<p>/@Q11D/</p>
	<p>
		<u>mv</u>
	</p>
	<p>2P</p>
	<p>/@Q12A/</p>
	<p>680 J</p>
	<p>/@Q12B/</p>
	<p>400 J</p>
	<p>/@Q12C/</p>
	<p>200 J</p>
	<p>/@Q12D/</p>
	<p>100 J</p>
	<p>/@Q13A/</p>
	<p>I and III only</p>
	<p>/@Q13B/</p>
	<p>I and IV only</p>
	<p>/@Q13C/</p>
	<p>II and III only</p>
	<p>/@Q13D/</p>
	<p>II and IV only</p>
	<p>/@Q14A/</p>
	<p>5 J</p>
	<p>/@Q14B/</p>
	<p>10 J</p>
	<p>/@Q14C/</p>
	<p>
		10<sup>3 </sup>J
	</p>
	<p>/@Q14D/</p>
	<p>
		10<sup>4 </sup>J
	</p>
	<p>/@Q15A/</p>
	<p>
		<img src="Physics_1995_Option_files/image005.jpg" alt="image005.jpg" />
	</p>
	<p>/@Q15B/</p>
	<p>
		<img src="Physics_1995_Option_files/image006.gif" alt="image006.gif" />
	</p>
	<p>/@Q15C/</p>
	<p>
		<img src="Physics_1995_Option_files/image007.gif" alt="image007.gif" />
	</p>
	<p>/@Q15D/</p>
	<p>
		<img src="Physics_1995_Option_files/image008.gif" alt="image008.gif" />
	</p>
	<p>/@Q16A/</p>
	<p>8000 N</p>
	<p>/@Q16B/</p>
	<p>4000 N</p>
	<p>/@Q16C/</p>
	<p>2000 N</p>
	<p>/@Q16D/</p>
	<p>31 N</p>
	<p>/@Q17A/</p>
	<p>Atmospheric pressure acts on the surface of the lake</p>
	<p>/@Q17B/</p>
	<p>Pressure increases with depth</p>
	<p>/@Q17C/</p>
	<p>Density remains constant with pressure</p>
	<p>/@Q17D/</p>
	<p>The bubble experiences an upthrust</p>
	<p>/@Q18A/</p>
	<p>Quantity of heat transferred into the molecules of an object</p>
	<p>/@Q18B/</p>
	<p>Mean kinetic energy of the molecules of the object</p>
	<p>/@Q18C/</p>
	<p>Kinetic energy of any individual molecule of the substances</p>
	<p>/@Q18D/</p>
	<p>Amount of work done by the molecules of the object.</p>
	<p>/@Q19A/</p>
	<p>1.5%</p>
	<p>/@Q19B/</p>
	<p>1.1%</p>
	<p>/@Q19C/</p>
	<p>0.4%</p>
	<p>/@Q19D/</p>
	<p>0.1%</p>
	<p>/@Q20A/</p>
	<p>Decrease because the density of water decreases with temperature
	</p>
	<p>/@Q20B/</p>
	<p>Increase because the density of water decreases with temperature
	</p>
	<p>/@Q20C/</p>
	<p>Decrease because the density of water increases with temperature
	</p>
	<p>/@Q20D/</p>
	<p>Increase because the density of water increases with temperature
	</p>
	<p>/@Q21A/</p>
	<p>x = 1, y = -1, z =1</p>
	<p>/@Q21B/</p>
	<p>x = 0, y = 1, z = -1</p>
	<p>/@Q21C/</p>
	<p>x = 1, y = 0, z = -1</p>
	<p>/@Q21D/</p>
	<p>x = 0, y = 1, z = 1</p>
	<p>/@Q22A/</p>
	<p>420 s</p>
	<p>/@Q22B/</p>
	<p>336 s</p>
	<p>/@Q22C/</p>
	<p>168 s</p>
	<p>/@Q22D/</p>
	<p>84 s</p>
	<p>/@Q23A/</p>
	<p>33.3 mm</p>
	<p>/@Q23B/</p>
	<p>36.0 mm</p>
	<p>/@Q23C/</p>
	<p>96.0 mm</p>
	<p>/@Q23D/</p>
	<p>136.0 mm</p>
	<p>/@Q24A/</p>
	<p>Specific heat capacity of ice</p>
	<p>/@Q24B/</p>
	<p>Specific heat capacity of water</p>
	<p>/@Q24C/</p>
	<p>Specific latent heat of fusion</p>
	<p>/@Q24D/</p>
	<p>Specific latent heat of vapourization</p>
	<p>/@Q25A/</p>
	<p>I and II only</p>
	<p>/@Q25B/</p>
	<p>I and III only</p>
	<p>/@Q25C/</p>
	<p>II and III only</p>
	<p>/@Q25D/</p>
	<p>I, II and III only</p>
	<p>/@Q26A/</p>
	<p>
		58<sup>o</sup> C
	</p>
	<p>/@Q26B/</p>
	<p>
		62<sup>o</sup> C
	</p>
	<p>/@Q26C/</p>
	<p>
		64<sup>o</sup> C
	</p>
	<p>/@Q26D/</p>
	<p>
		76<sup>o</sup> C
	</p>
	<p>/@Q27A/</p>
	<p>Diffraction</p>
	<p>/@Q27B/</p>
	<p>Refraction</p>
	<p>/@Q27C/</p>
	<p>Compression</p>
	<p>/@Q27D/</p>
	<p>Polarization</p>
	<p>/@Q28A/</p>
	<p>7500 m</p>
	<p>/@Q28B/</p>
	<p>300 m</p>
	<p>/@Q28C/</p>
	<p>7.5 m</p>
	<p>/@Q28D/</p>
	<p>1.5 m</p>
	<p>/@Q29A/</p>
	<p>Are transverse while light waves are longitudinal</p>
	<p>/@Q29B/</p>
	<p>Require a medium to travel while light waves do not</p>
	<p>/@Q29C/</p>
	<p>Can be diffracted but light waves cannot</p>
	<p>/@Q29D/</p>
	<p>Cannot be reflected but light waves can</p>
	<p>/@Q30A/</p>
	<p>
		<img src="Physics_1995_Option_files/image009.gif" alt="image009.gif" />
	</p>
	<p>/@Q30B/</p>
	<p>
		<img src="Physics_1995_Option_files/image010.gif" alt="image010.gif" />
	</p>
	<p>/@Q30C/</p>
	<p>
		<img src="Physics_1995_Option_files/image011.gif" alt="image011.gif" />
	</p>
	<p>/@Q30D/</p>
	<p>
		<img src="Physics_1995_Option_files/image012.gif" alt="image012.gif" />
	</p>
	<p>/@Q31A/</p>
	<p>Increasing the frequency</p>
	<p>/@Q31B/</p>
	<p>Increasing the amplitude</p>
	<p>/@Q31C/</p>
	<p>Decreasing the loudness</p>
	<p>/@Q31D/</p>
	<p>Decreasing the intensity</p>
	<p>/@Q32A/</p>
	<p>Earth is between the moon and the sun</p>
	<p>/@Q32B/</p>
	<p>Sun is between the moon and the earth</p>
	<p>/@Q32C/</p>
	<p>Moon is between the sun and the earth</p>
	<p>/@Q32D/</p>
	<p>Ozone layer is threatened</p>
	<p>/@Q33A/</p>
	<p>
		21<sup>o</sup>
	</p>
	<p>/@Q33B/</p>
	<p>
		22<sup>o</sup>
	</p>
	<p>/@Q33C/</p>
	<p>
		23<sup>o</sup>
	</p>
	<p>/@Q33D/</p>
	<p>
		24<sup>o</sup>
	</p>
	<p>/@Q34A/</p>
	<p>
		<img src="Physics_1995_Option_files/image013.gif" alt="image013.gif" />
	</p>
	<p>/@Q34B/</p>
	<p>
		<img src="Physics_1995_Option_files/image014.gif" alt="image014.gif" />
	</p>
	<p>/@Q34C/</p>
	<p>
		<img src="Physics_1995_Option_files/image015.gif" alt="image015.gif" />
	</p>
	<p>/@Q34D/</p>
	<p>
		<img src="Physics_1995_Option_files/image016.gif" alt="image016.gif" />
	</p>
	<p>/@Q35A/</p>
	<p>
		Convex and <i>u </i>= 2f
	</p>
	<p>/@Q35B/</p>
	<p>
		Concave and <i>u </i>= 2f
	</p>
	<p>/@Q35C/</p>
	<p>
		Convex and <i>u </i>= <img
			src="Physics_1995_Option_files/image017.gif" alt="image017.gif" />
	</p>
	<p>/@Q35D/</p>
	<p>
		Concave and <i>u</i> = <img
			src="Physics_1995_Option_files/image017.gif" alt="image017.gif" />
	</p>
	<p>/@Q36A/</p>
	<p>Red and violet</p>
	<p>/@Q36B/</p>
	<p>Green and yellow</p>
	<p>/@Q36C/</p>
	<p>Red and indigo</p>
	<p>/@Q36D/</p>
	<p>Yellow and violet</p>
	<p>/@Q37A/</p>
	<p>
		4.8 Vm<sup>-1</sup>
	</p>
	<p>/@Q37B/</p>
	<p>
		75.0 Vm<sup>-1</sup>
	</p>
	<p>/@Q37C/</p>
	<p>
		4800.0 Vm<sup>-1</sup>
	</p>
	<p>/@Q37D/</p>
	<p>
		75 000.0 Vm<sup>-1</sup>
	</p>
	<p>/@Q38A/</p>
	<p>The same in magnitude and direction </p>
	<p>/@Q38B/</p>
	<p>The same in magnitude but different in direction</p>
	<p>/@Q38C/</p>
	<p>Different in both magnitude and direction</p>
	<p>/@Q38D/</p>
	<p>Different in magnitude but not in direction</p>
	<p>/@Q39A/</p>
	<p>1:6</p>
	<p>/@Q39B/</p>
	<p>1:3</p>
	<p>/@Q39C/</p>
	<p>2:1</p>
	<p>/@Q39D/</p>
	<p>6:1</p>
	<p>/@Q40A/</p>
	<p>16.0A</p>
	<p>/@Q40B/</p>
	<p>8.0A</p>
	<p>/@Q40C/</p>
	<p>0.8A</p>
	<p>/@Q40D/</p>
	<p>0.4A</p>
	<p>/@Q41A/</p>
	<p>Brightness of Y will reduce</p>
	<p>/@Q41B/</p>
	<p>Brightness of Y will remain constant</p>
	<p>/@Q41C/</p>
	<p>Brightness of Y will increase</p>
	<p>/@Q41D/</p>
	<p>Fuse F will blow</p>
	<p>/@Q42A/</p>
	<p>Increase its capacitance</p>
	<p>/@Q42B/</p>
	<p>Decrease its capacitance</p>
	<p>/@Q42C/</p>
	<p>Insulate the plates from each other</p>
	<p>/@Q42D/</p>
	<p>Increase the magnetic field between the plates</p>
	<p>/@Q43A/</p>
	<p>15.0 µF</p>
	<p>/@Q43B/</p>
	<p>9.8 µF</p>
	<p>/@Q43C/</p>
	<p>1.3 µF</p>
	<p>/@Q43D/</p>
	<p>0.8 µF</p>
	<p>/@Q44A/</p>
	<p>0.5 kJ</p>
	<p>/@Q44B/</p>
	<p>8.0 kJ</p>
	<p>/@Q44C/</p>
	<p>20. 0 kJ</p>
	<p>/@Q44D/</p>
	<p>40. 0 kJ</p>
	<p>/@Q45A/</p>
	<p>5.00 W</p>
	<p>/@Q45B/</p>
	<p>4.00 W</p>
	<p>/@Q45C/</p>
	<p>2.00 W</p>
	<p>/@Q45D/</p>
	<p>0.25 W</p>
	<p>/@Q46A/</p>
	<p>A high resistance in parallel</p>
	<p>/@Q46B/</p>
	<p>A high resistance in series</p>
	<p>/@Q46C/</p>
	<p>A low resistance in parallel</p>
	<p>/@Q46D/</p>
	<p>A low resistance in series</p>
	<p>/@Q47A/</p>
	<p>3 V</p>
	<p>/@Q47B/</p>
	<p>6 V</p>
	<p>/@Q47C/</p>
	<p>24 V</p>
	<p>/@Q47D/</p>
	<p>48 V</p>
	<p>/@Q48A/</p>
	<p>2000 √3 Ω</p>
	<p>/@Q48B/</p>
	<p>2000 Ω</p>
	<p>/@Q48C/</p>
	<p>1000 √3 Ω</p>
	<p>/@Q48D/</p>
	<p>1000 Ω</p>
	<p>/@Q49A/</p>
	<p>
		<img src="Physics_1995_Option_files/image018.gif" alt="image018.gif" /> 
	</p>
	<p>/@Q49B/</p>
	<p>¼</p>
	<p>/@Q49C/</p>
	<p>½</p>
	<p>/@Q49D/</p>
	<p>
		<img src="Physics_1995_Option_files/image019.gif" alt="image019.gif" /> 
	</p>
	<p>/@Q50A/</p>
	<p>0.4 eV</p>
	<p>/@Q50B/</p>
	<p>2.5 eV</p>
	<p>/@Q50C/</p>
	<p>3.0 eV</p>
	<p>/@Q50D/</p>
	<p>7.0 eV</p>
	<p>/@Q51A/</p>
</div>
