/* line 15, ../scss/_inc.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 16, ../scss/_inc.scss */
body {
  font-family: 'Segoe UI', 'Amazon Ember', 'Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
  background-color: #283039 !important;
  color: #444;
}

/* line 22, ../scss/_inc.scss */
.hide {
  display: none;
}

/* line 23, ../scss/_inc.scss */
.show {
  display: block;
}

/* line 24, ../scss/_inc.scss */
.text {
  line-height: 1.7em;
}

/* line 25, ../scss/_inc.scss */
.is_won {
  color: #fb397d;
  font-weight: bold;
}

/* line 26, ../scss/_inc.scss */
.pointer {
  cursor: pointer;
}

/* line 27, ../scss/_inc.scss */
.justify {
  text-align: justify;
}

/* line 28, ../scss/_inc.scss */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 29, ../scss/_inc.scss */
.no-margin {
  margin: 0;
}

/* line 30, ../scss/_inc.scss */
.no-padding {
  padding: 0;
}

/* line 31, ../scss/_inc.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 32, ../scss/_inc.scss */
.inline-block {
  display: inline-block !important;
}

/* line 33, ../scss/_inc.scss */
.to_uppercase {
  text-transform: uppercase;
}

/* line 34, ../scss/_inc.scss */
.to_lowercase {
  text-transform: lowercase;
}

/* line 35, ../scss/_inc.scss */
.bg_primary, .bg-primary {
  background-color: #fb397d;
}

/* line 36, ../scss/_inc.scss */
.color_primary, .color-primary {
  color: #fb397d;
}

/* line 37, ../scss/_inc.scss */
.color_primary_dark, .color-primary-dark {
  color: #f8055a;
}

/* line 38, ../scss/_inc.scss */
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 39, ../scss/_inc.scss */
.btn-xs {
  padding: 1px 5px;
}

/* line 40, ../scss/_inc.scss */
.bold {
  font-weight: bold;
}

/* line 41, ../scss/_inc.scss */
.red {
  color: red;
}

/* line 42, ../scss/_inc.scss */
table th small {
  font-weight: bold;
}

/* line 43, ../scss/_inc.scss */
.form-check .form-check-input {
  margin-top: .35rem;
  margin-left: 0;
}

/* line 44, ../scss/_inc.scss */
.page-header {
  margin: 0;
  border-bottom: none;
  border-top: 5px solid #fb397d;
  position: relative;
}
/* line 52, ../scss/_inc.scss */
.page-header #title {
  display: inline-block;
  background-color: #fb397d;
  position: relative;
  padding: 0px 20px;
  color: black;
  font-size: 2.5em;
  line-height: 65px;
}

/* line 63, ../scss/_inc.scss */
a {
  color: #fb397d;
}
/* line 65, ../scss/_inc.scss */
a:hover, a:active, a:focus {
  color: #884bdf;
}
/* line 68, ../scss/_inc.scss */
a.inverse {
  color: #884bdf;
}
/* line 70, ../scss/_inc.scss */
a.inverse:hover, a.inverse:active, a.inverse:focus {
  color: #fb397d;
}

/* line 75, ../scss/_inc.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 76, ../scss/_inc.scss */
table.text-center tr th {
  text-align: center;
}

/* line 77, ../scss/_inc.scss */
table caption {
  font-size: 1.4em;
}

/* line 87, ../scss/_inc.scss */
fieldset {
  padding: 5px 5px 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #f8055a;
}
/* line 91, ../scss/_inc.scss */
fieldset legend {
  display: inline;
  width: auto;
  padding: 0 5px;
  margin: 0px;
  font-size: 21px;
  color: #f8055a;
  border: none;
}

@media (min-width: 768px) {
  /* line 103, ../scss/_inc.scss */
  .hide-sm-up {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 106, ../scss/_inc.scss */
  .hide-sm-up {
    display: none;
  }
}
@media (max-width: 900px) {
  /* line 3, ../scss/layout/_md-layout.scss */
  body {
    font-size: 15px !important;
    line-height: 1.73 !important;
  }

  /* line 4, ../scss/layout/_md-layout.scss */
  .table td, .table th {
    padding: .50rem;
  }
}
@media (max-width: 700px) {
  /* line 3, ../scss/layout/_sm-layout.scss */
  body {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }

  /* line 4, ../scss/layout/_sm-layout.scss */
  .table td, .table th {
    padding: .35rem;
  }

  /* line 5, ../scss/layout/_sm-layout.scss */
  .form-control {
    padding: .20rem .40rem;
    font-size: 13px;
  }

  /* line 9, ../scss/layout/_sm-layout.scss */
  select.form-control, select.form-control:not([size]):not([multiple]) {
    height: auto;
  }
}
@media (max-width: 480px) {
  /* line 2, ../scss/layout/_xs-layout.scss */
  .hidden-xs {
    display: none !important;
  }

  /* line 3, ../scss/layout/_xs-layout.scss */
  .form-control {
    padding: .24rem .40rem;
    font-size: 13px;
  }
}
/* line 1, ../scss/user/_header.scss */
header {
  height: 40px;
  background-color: #7014ad;
  color: #fff;
  -webkit-box-shadow: 2px 0px 5px 0px #a19a9a;
  -moz-box-shadow: 2px 0px 5px 0px #a19a9a;
  box-shadow: 2px 0px 5px 0px #a19a9a;
  border-bottom: 1px solid #93828e;
}

/* line 1, ../scss/user/_sidebar.scss */
#sidebar-box {
  position: fixed;
  z-index: 3;
  overflow: auto;
}

/* line 6, ../scss/user/_sidebar.scss */
#sidebar, #drop-menu {
  position: relative;
  -webkit-box-shadow: 2px 0px 5px 0px #a19a9a;
  -moz-box-shadow: 2px 0px 5px 0px #a19a9a;
  box-shadow: 2px 0px 5px 0px #a19a9a;
  color: #333333;
  background-color: #dfc7ef;
}
/* line 16, ../scss/user/_sidebar.scss */
#sidebar #user-details, #drop-menu #user-details {
  background-color: #7014ad;
  color: #efefef;
}
/* line 19, ../scss/user/_sidebar.scss */
#sidebar #user-details #avatar, #drop-menu #user-details #avatar {
  background-color: #fb397d;
  color: #fefefe;
  font-size: 1.67rem;
  font-weight: bold;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #7014ad;
}
/* line 31, ../scss/user/_sidebar.scss */
#sidebar .menu-item .header, #drop-menu .menu-item .header {
  text-transform: uppercase;
  color: #e25485;
  font-weight: 500;
}
/* line 37, ../scss/user/_sidebar.scss */
#sidebar ul, #sidebar ul li, #drop-menu ul, #drop-menu ul li {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* line 42, ../scss/user/_sidebar.scss */
#sidebar ul li, #drop-menu ul li {
  padding: 8px 0;
  border-bottom: 1px solid #d7b9ea;
  background-color: #dfc7ef;
}
/* line 47, ../scss/user/_sidebar.scss */
#sidebar .header, #drop-menu .header {
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #fbaac6;
  border-top: 1px solid #fbaac6;
  background-color: #f7d7e2;
}
/* line 54, ../scss/user/_sidebar.scss */
#sidebar ul li a, #sidebar .header, #drop-menu ul li a, #drop-menu .header {
  list-style: none;
  padding-left: 15px;
  display: block;
}
/* line 59, ../scss/user/_sidebar.scss */
#sidebar ul li a, #drop-menu ul li a {
  font-weight: 500;
  color: #5b32b4;
  padding: 8px 15px;
}
/* line 64, ../scss/user/_sidebar.scss */
#sidebar ul li a i, #drop-menu ul li a i {
  padding-right: 10px;
}

/* line 68, ../scss/user/_sidebar.scss */
#drop-menu {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  transition: max-width 0.4s linear;
  overflow: hidden;
  z-index: 2;
  width: 100%;
  max-width: 0;
}
/* line 79, ../scss/user/_sidebar.scss */
#drop-menu.show {
  max-width: 100%;
}
/* line 80, ../scss/user/_sidebar.scss */
#drop-menu #side-menu-header {
  font-size: 1.5rem;
}

/* line 6, ../scss/user/_dashboard-inc.scss */
body {
  background-color: #eeeeee !important;
}

/* line 9, ../scss/user/_dashboard-inc.scss */
.slab {
  -webkit-box-shadow: 0px 0px 2px 1px #aba6a6;
  -moz-box-shadow: 0px 0px 2px 1px #aba6a6;
  box-shadow: 0px 0px 2px 1px #aba6a6;
  background-color: #fff;
  color: #333333;
  border-radius: 3px;
}

/* line 17, ../scss/user/_dashboard-inc.scss */
.dashboard-slab {
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 6px 2px #aba6a6;
  -moz-box-shadow: 0px 0px 6px 2px #aba6a6;
  box-shadow: 0px 0px 6px 2px #aba6a6;
  background-color: #fff;
}
/* line 23, ../scss/user/_dashboard-inc.scss */
.dashboard-slab header {
  background-color: #7014ad;
  border-bottom: 2px solid #ced4da;
  border-top-left-radius: 8px;
  height: auto;
  margin-bottom: 15px;
  border-radius: 0;
}
/* line 30, ../scss/user/_dashboard-inc.scss */
.dashboard-slab header > * {
  color: #efefef;
}
/* line 34, ../scss/user/_dashboard-inc.scss */
.dashboard-slab .dashboard-slab-body {
  overflow: auto;
}
/* line 37, ../scss/user/_dashboard-inc.scss */
.dashboard-slab .form-group label {
  margin: 0;
  color: #474747;
}
/* line 41, ../scss/user/_dashboard-inc.scss */
.dashboard-slab .submit-btn {
  height: auto;
  margin-top: 25px;
}
