/* line 15, ../scss/_inc.scss */
* {
  padding: 0;
  margin: 0;
}

/* line 16, ../scss/_inc.scss */
body {
  font-family: 'Segoe UI', 'Amazon Ember', 'Gill Sans','Gill Sans MT',GillSans,'Trebuchet MS',Arial,sans-serif;
  background-color: #283039 !important;
  color: #444;
}

/* line 22, ../scss/_inc.scss */
.hide {
  display: none;
}

/* line 23, ../scss/_inc.scss */
.show {
  display: block;
}

/* line 24, ../scss/_inc.scss */
.text {
  line-height: 1.7em;
}

/* line 25, ../scss/_inc.scss */
.is_won {
  color: #fb397d;
  font-weight: bold;
}

/* line 26, ../scss/_inc.scss */
.pointer {
  cursor: pointer;
}

/* line 27, ../scss/_inc.scss */
.justify {
  text-align: justify;
}

/* line 28, ../scss/_inc.scss */
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* line 29, ../scss/_inc.scss */
.no-margin {
  margin: 0;
}

/* line 30, ../scss/_inc.scss */
.no-padding {
  padding: 0;
}

/* line 31, ../scss/_inc.scss */
.form-group {
  margin-bottom: 15px;
}

/* line 32, ../scss/_inc.scss */
.inline-block {
  display: inline-block !important;
}

/* line 33, ../scss/_inc.scss */
.to_uppercase {
  text-transform: uppercase;
}

/* line 34, ../scss/_inc.scss */
.to_lowercase {
  text-transform: lowercase;
}

/* line 35, ../scss/_inc.scss */
.bg_primary, .bg-primary {
  background-color: #fb397d;
}

/* line 36, ../scss/_inc.scss */
.color_primary, .color-primary {
  color: #fb397d;
}

/* line 37, ../scss/_inc.scss */
.color_primary_dark, .color-primary-dark {
  color: #f8055a;
}

/* line 38, ../scss/_inc.scss */
.h1, .h2, .h3, h1, h2, h3, h4, h5, h6, p {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 39, ../scss/_inc.scss */
.btn-xs {
  padding: 1px 5px;
}

/* line 40, ../scss/_inc.scss */
.bold {
  font-weight: bold;
}

/* line 41, ../scss/_inc.scss */
.red {
  color: red;
}

/* line 42, ../scss/_inc.scss */
table th small {
  font-weight: bold;
}

/* line 43, ../scss/_inc.scss */
.form-check .form-check-input {
  margin-top: .35rem;
  margin-left: 0;
}

/* line 44, ../scss/_inc.scss */
.page-header {
  margin: 0;
  border-bottom: none;
  border-top: 5px solid #fb397d;
  position: relative;
}
/* line 52, ../scss/_inc.scss */
.page-header #title {
  display: inline-block;
  background-color: #fb397d;
  position: relative;
  padding: 0px 20px;
  color: black;
  font-size: 2.5em;
  line-height: 65px;
}

/* line 63, ../scss/_inc.scss */
a {
  color: #fb397d;
}
/* line 65, ../scss/_inc.scss */
a:hover, a:active, a:focus {
  color: #884bdf;
}
/* line 68, ../scss/_inc.scss */
a.inverse {
  color: #884bdf;
}
/* line 70, ../scss/_inc.scss */
a.inverse:hover, a.inverse:active, a.inverse:focus {
  color: #fb397d;
}

/* line 75, ../scss/_inc.scss */
img {
  max-width: 100%;
  max-height: 100%;
}

/* line 76, ../scss/_inc.scss */
table.text-center tr th {
  text-align: center;
}

/* line 77, ../scss/_inc.scss */
table caption {
  font-size: 1.4em;
}

/* line 87, ../scss/_inc.scss */
fieldset {
  padding: 5px 5px 12px 15px;
  margin-bottom: 10px;
  border: 1px solid #f8055a;
}
/* line 91, ../scss/_inc.scss */
fieldset legend {
  display: inline;
  width: auto;
  padding: 0 5px;
  margin: 0px;
  font-size: 21px;
  color: #f8055a;
  border: none;
}

@media (min-width: 768px) {
  /* line 103, ../scss/_inc.scss */
  .hide-sm-up {
    display: block;
  }
}
@media (max-width: 768px) {
  /* line 106, ../scss/_inc.scss */
  .hide-sm-up {
    display: none;
  }
}
