@media (max-width:700px)  {

	body{ font-size: 13px !important; line-height: 1.5 !important; }
	.table td, .table th { padding: .35rem; }
	.form-control{
	    padding: .20rem .40rem;
        font-size: 13px;
	}
    select.form-control, select.form-control:not([size]):not([multiple]) {
	    height: auto;
	}
	
	
}